body {
    background: darkgrey;
    padding-left: 75px;
    padding-right: 75px;
}

.jumbotron {
    background: lightblue;
}


.jumbotron h1 {
    padding: 20px;
    font-family: Century;
    color: black;
}

.jumbotron {
    padding:20px;
    font-size: 1.3em;
    font-family: Century;
    border: solid black 2px;
}

ul {
    padding: 20px;
    font-family: Century;
    font-size: 1.3em;
}

navbar-header {
    font-family: Century;
}

.from-control-inline {
    min-width: 0;
    width: auto;
    background-color: lightblue;
}

.btn btn-success {
    padding: 10px;
}