body {
    background: darkgrey;
}

footer {
    position: sticky;
}

.jumbotron {
    background: lightblue;
}


.jumbotron h1 {
    padding: 20px;
    font-family: Century;
    color: black;
}

.jumbotron {
    padding:20px;
    font-size: 1.3em;
    font-family: Century;
    border: solid black 2px;
}

ul {
    padding: 20px;
    font-family: Century;
    font-size: 1.3em;
}

ul: hover {
    border-bottom: solid 2px red;
}

navbar-header {
    font-family: Century;
}

.from-control-inline {
    min-width: 0;
    width: auto;
    background-color: lightblue;
}

form {
    font-family: Century;
}

.btn btn-success {
    padding: 10px;
}

.navbar-inverse {
    color: white;
}